/* This is File is to only import fonts For links */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');  /* font-family: 'Roboto', sans-serif; */


:root {
    --main-color: #fc4903; /* Define the primary color using HEX format */
    --sec-color: #be03fc;
  }

.wide-top { 
    height: 8.5vh; /* wide space under the main navbar */
}


/* css of btn in side of form */


.og-btn {
    background-color: var(--main-color);
    border-radius: 0px;
    box-shadow: 0px 0.3px 5px 0.7px rgba(0, 0, 0, 0.199);
    color: white;
    font-family: 'Roboto';
    font-weight: 600;
    letter-spacing: 0.8px;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    border: 0.5px solid white;
}
.og-btn:hover {
    background-color: var(--main-color);
    border-radius: 0px;
    box-shadow: 0px 0.3px 5px 0.7px rgba(0, 0, 0, 0.199);
    color: white;
    font-family: 'Roboto';
    font-weight: 600;
    letter-spacing: 0.8px;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    border: 0.5px solid white;
}