* {
    margin: 0px;
    padding: 0px;
}

/* Main navitgation bar */

#main-nav {
    box-shadow: 0px 0.4px 3px 1px rgba(0, 0, 0, 0.150);
    display: flex;
    align-items: center;
    background-color: var(--main-color);
}
#site-logo>span {
    color: white;
    font-size: 1.4rem;
}
.right-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.nav-link {
    color: white;
    font-weight: 600;
    font-family: 'Roboto';
    letter-spacing: 0.8px;
    text-shadow: 0px 1.2px 2.5px rgba(0,0,0,0.100);
    transition: color 0.15s linear;
    margin-left: 0.5rem;
}
.navbar-nav {
    align-items: center;
}
#nav-icons {
    margin-right: 0.3rem;
}
.hover:hover {
    color: white;
    cursor: pointer;
}

#search-tab>input {
    border: none;
    border-radius: 0px;
    width: 25rem;
    padding: 0.3rem;
    padding-left: 0.5rem;
}
#search-tab>input:focus {
    border: none;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
}
#search-tab>button {
    border: none;
    border-radius: 0px;
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;
}
#search-tab>button {
    color: var(--main-color);
}
#search-tab {
    border: 0.4px solid #c2c2c2;
    box-shadow: 0px 0.5px 3.5px 0.3px rgba(0, 0, 0, 0.150);
}
#login {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: rgb(255, 255, 255);
    margin-right: 1rem;
    margin-left: 1rem;
    text-shadow: none;
    box-shadow: 0px 0.3px 5px 0.3px rgba(0, 0, 0, 0.199);
    color: var(--main-color);
}
#login:hover {
    color: var(--main-color);
}

/* Login form css */

.modal-heading  {
    display: flex;
    flex-direction: column;
}
.modal-content {
    border-radius: 0px;
}
.log-form {
    border-radius: 0px;
    box-shadow: 0px 1.2px 3px 0.2px rgba(0, 0, 0, 0.199);
    border: 0.3px solid #fc4a0334;
    transition: border 0.2s ease-in-out;
}
.log-form:focus {
    box-shadow: none;
    border: none;
    outline: none;
    box-shadow: 0px 1.2px 3px 0.2px rgba(0, 0, 0, 0.199);
    border: 0.3px solid #fc4a03c6;
}


